<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MovieRentalSystemEntities" connectionString="metadata=res://*/Entity.MRSEntityModel.csdl|res://*/Entity.MRSEntityModel.ssdl|res://*/Entity.MRSEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SAURAVC;initial catalog=MovieRentalSystem;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>